<h3>
    <a href="/fallas">fallas</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="codigo_falla">codigo_falla</label>
    <input required id="codigo_falla" type="text" class="form-control" name="codigo_falla" size="30"/>
</div><div class="form-group">
    <label for="descripcion">descripcion</label>
    <input required id="descripcion" type="text" class="form-control" name="descripcion" size="30"/>
</div><div class="form-group">
    <label for="causa">causa</label>
    <input required id="causa" type="text" class="form-control" name="causa" size="30"/>
</div><div class="form-group">
    <label for="imagen">imagen</label>
    <input required id="imagen" type="text" class="form-control" name="imagen" size="30"/>
</div><div class="form-group">
    <label for="id_coche">id_coche</label>
    <input required id="id_coche" type="text" class="form-control" name="id_coche" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>